body {
    display: flex;
    margin: 0;
    font-family: PolySans;
    text-align: center;
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    display: flex;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #CEE6C1;
}

.main-content {
    padding: 20px;
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
}

.main-content h1 {
    font-size: 40px;
}

.main-content p {
    font-size: 20px;
}

.content-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn {
    width: 150px;
    background: #CEE6C1;
    color: #000000;
    padding: 10px;
    outline: 0;
    border: 0;
    font-size: 25px;
    border-radius: 10px;
}

footer {
    color: #CEE6C1;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.create-reservation, .update-profile {
    width: 600px;
    margin: auto;
}

.chatbot-button {
    position: fixed;
    bottom: 2%;
    right: 2%;
}
.chatbot-button button {
    background-color: #FFA500;
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    position: relative;
}
.chatbot-button button::after {
    content: ' \2191';
    font-size: 20px;
    position: relative;
    top: -2px;
}
.chatbot-window {
    margin: auto;
    right: 2%;
    width: 1000px;
    height: 400px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.chatbot-header {
    padding: 10px;
    background: #CEE6C1;
    color: #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.chatbot-messages {
    padding: 10px;
    overflow-y: scroll;
    height: 280px;
}
.chatbot-input {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.chatbot-input input {
    width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.chatbot-input button {
    padding: 5px 15px;
    border: none;
    background-color: #CEE6C1;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
}

@media screen and (min-width:992px) {
    .nav-sp {
    display: none;
}
}

@media screen and (max-width: 767px) {
    .main-content h1 {
        font-size: 20px;
    }

    .main-content p {
        font-size: 16px;
    }

    .btn {
        width: 80px;
        background: #CEE6C1;
        color: #000000;
        padding: 10px;
        outline: 0;
        border: 0;
        font-size: 12px;
        border-radius: 10px;
    }

    .create-reservation, .update-profile {
        width: auto;
        margin: auto;
    }

    .chatbot-window {
        margin: auto;
        right: 2%;
        width: 100%;
        height: 500px;
    }

    .chatbot-messages {
        padding: 10px;
        overflow-y: scroll;
        height: 380px;
    }

    .fc .fc-toolbar-title {
        font-size: 1.2em;
    }

    .fc .fc-button {
        font-size: 0.8em;
        padding: 0.5em;
    }
}
